<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
  xmlns:beans="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd">


  <http use-expressions="true">
    <intercept-url pattern="/forbiddenUser" access="hasRole('ROLE_ADMIN')" />
    <intercept-url pattern="/permitUser" access="hasRole('ROLE_ADMIN')" />
    <intercept-url pattern="/enableWord" access="hasRole('ROLE_ADMIN')" />
    <intercept-url pattern="/disableWord" access="hasRole('ROLE_ADMIN')" />
    <intercept-url pattern="/deletePron" access="hasRole('ROLE_ADMIN')" />
    <intercept-url pattern="/deleteWordPron" access="hasRole('ROLE_ADMIN')" />
    
    <intercept-url pattern="/pronounce" access="hasRole('ROLE_USER')" />
    <intercept-url pattern="/upload_pronounce" access="hasRole('ROLE_USER')" />
    <intercept-url pattern="/addword" access="hasRole('ROLE_USER')" />
    <intercept-url pattern="/addwordEx" access="hasRole('ROLE_USER')" />
    <intercept-url pattern="/vote" access="hasRole('ROLE_USER')" />
    
    <intercept-url pattern="/**" access="permitAll" />
    
    <access-denied-handler error-page="/forbidden" />
    
    <form-login login-page="/login?needLogin" authentication-failure-url="/login?loginError" />
    <logout />
    <remember-me />
	
    <!-- <session-management invalid-session-url="/login?timeout">
      <concurrency-control max-sessions="1" error-if-maximum-exceeded="true" />
    </session-management> -->
  </http>


	<authentication-manager>
		<authentication-provider>
			<password-encoder hash="md5" />
			<jdbc-user-service data-source-ref="dataSource" />
		</authentication-provider>
	</authentication-manager>


</beans:beans>
