/*Ä£¿é*/
.left {
float:left;
width: 35%;
margin: 10px 10px 10px 10px;
border: 1px solid #DFDFDF;
height:400px;
padding: 0px 20px 0px 20px;

}

.right h2{
margin: 10px 0 0 10px;
height: 26px;
line-height: 26px;
font-size: 25px;
color:#390;
border-bottom: 1px solid #E4E4E4
}

.right{
float:left;
width: 55%;
margin: 10px 10px 10px 10px;
border: 1px solid #DFDFDF;
height:400px;	

}

.line{
	float:left;
	width: 70%;
	margin-top:10px;
	margin-bottom:5px;
	padding-left:80px;
}

.submit{
	float:left;
	width: 70%;
	margin-top:10px;
	margin-bottom:5px;
	padding-left:125px;
}
