a.more{
	float:right;
	font-size: 12px;
	font-style: italic;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	margin-top: 5px;
	margin-right: 12px;
}