/* CSS Document */

#top {
height: 70px;
background: #e0f3fa url(images/header.jpg) no-repeat;

}




.right {
float: right;
width: 27%;
text-align: justify;
padding-top: 20px;
padding-left: 5px;
padding-right: 5px;
height:700px;
}
.right h2 {
font-size: 18px;
font-weight: 100;
padding-left: 5px;
height: 26px;
line-height: 26px;
background: #C3D9FF;
}
.right ul {
padding: 10px 0 15px 20px;
color: #C3D9FF;
}
.right ul li a {
text-decoration: none;
font-weight: 600;
}
.right ul li a:hover {
}

.center{
float:left;
margin-top:10px;
width:35%;
padding-top:10px;
padding-left:5px;
padding-right:5px;
height:700px;
}

.left {
float: left;
width: 35%;
padding-top: 10px;
padding-left: 5px;
padding-right: 5px;
height:700px;
}
.left h2 {
margin: 10px 0 0 0;
padding-left: 10px;
height: 26px;
line-height: 26px;
background: #C3D9FF;
color: #fff;
font-size: 13px;
}
.left ul {
padding: 10px 0 15px 20px;
color: #C3D9FF;
}
.left ul li a {
text-decoration: none;
font-weight: 600;
}
.left ul li a:hover {
}

.articles { padding: 10px; }

.list {
	padding:5px;
	background-color:#CCC;
	height:330px;
}

#bottom {
background : #e0f3fa url(images/bottom.jpg) no-repeat;
padding: 10px 0;
}

#footer {
text-align: center;
font-size: 11px;
color: #aaa;
}
#footer a { color: #aaa; }
#footer a:hover { color: #111; }