input {
font-size: 14px;
}

.wordcontent {
	height: 100%;
	margin: 20px 10px;
}

.top {
	padding: 5px 10px;
	border-bottom: 5px solid #E4E4E4
}

.worditem {
  font-size: 16px;
}

.wordname {
  font-size: 25px;
  font-weight: bold;
  color: #390;
}

.bottomleft {
	float: left;
	width: 70%;
	margin-top: 15px;
}

.module {
	margin-bottom: 20px;
	padding-left: 15px;
	border-bottom: 5px solid #E4E4E4
}

.moduletitle {
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 8px;
}

.mapmodule {
	height: 500px;
}

.maptop {
  float: left;
  width: 97%;
  border: 1px solid #DFDFDF;
  height: 450px;
}

.region{
	margin-bottom: 14px;
	border-bottom: 1px solid #DFDFDF;
}

.rtitle {
	margin-bottom: 10px;
}

.rtTip {
	font-size: 13px;
	font-weight: bold;
}

.rtProv {
	font-size: 14px;
	font-weight: bold;
  color: #390;
}

.pron {
	margin-left: 10px;
	margin-bottom: 10px;
}

.pimg {
	float: left;
	margin-top: 5px;
	margin-right: 10px;
}

.pusername {
	font-size: 15px;
	font-weight: bold;
	text-decoration: underline;
}

.pvote {
	font-size: 9px;
}

.bottomright {
  float: right;
  width: 27%;
  padding-top: 15px;
  height: 1000px;
  border-left: 2px solid #E4E4E4;
  background-color: #EDF6FF;
}

.rightList {
	margin-left: 40px;
	margin-top: 20px;
}

.rightItem {
}

.itemTitle {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 8px;
	padding-bottom: 5px;
	border-bottom: 1px solid #E4E4E4;
}

.itemLink {
	font-size: 12px;
	margin-left: 10px;
}

.nopron {
  font-size: 16px;
  line-height: normal;
  color: #000;
  background-color: #cff;
  border-top-style: solid;
  border-bottom-style: solid;
  margin-top: 0px;
  margin-right: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-color: #999;
  border-bottom-color: #999;
  padding-top: 8px;
  padding-bottom: 8px;
  
  padding-left: 25px;
  padding-right: 25px;
}